body { 
    /*background-image:url(assets/Background.png); 
    background-repeat:no-repeat; 
    background-attachment:fixed; 
    background-position:center; */
    background: #A4A4A4;
    color: #A4A4A4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.3;
    margin: 0 auto;
    max-width: 1000px;
    padding: 2em 2em em;                
}


span.crosshair {
    cursor: crosshair;
}

#menu{
	display:block;
}

.page{
	text-align:center;
  display:none;

}

.fondo{
    display:block;
    position: relative;
    max-width: 100%;
    height: auto;
    width: auto\9;
    z-index: auto;
}

#bBack{
  position:absolute;  
  z-index:1;  
  left:125px;  
  top:125px;
}


/* BOTONES */
.botonJugar {

  background: transparent;
  border: none !important;
  background-image:url(assets/BotonJugar.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  background-position:center;
}

.botonJugar:hover {
  background-image:url(assets/BotonJugarHover.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px
  background-position:center;
}

.botonJugar:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonInstrucciones {
  background: transparent;
  border: none;
  background-image:url(assets/BotonInstrucciones.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  background-position:center;
}

.botonInstrucciones:hover {
  background-image:url(assets/BotonInstruccionesHover.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px
  background-position:center;
}

.botonInstrucciones:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonContactar {

  background: transparent;
  border: none ;
  background-image:url(assets/BotonContactar.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  background-position:center;
}

.botonContactar:hover {
  background-image:url(assets/BotonContactarHover.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  background-position:center;
}

.botonContactar:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonAtras {

  background: transparent;
  border: none;
  background-image:url(assets/BotonAtras.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  background-position:center;
}

.botonAtras:hover {
  background-image:url(assets/BotonAtrasHover.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px
  background-position:center;
}

.botonAtras:active {
	position:relative;
	top:1px;
	font-size: 130%;

}
