body { 
  background-image:url(assets/Background.png); 
  background-repeat:no-repeat; 
  background-attachment:fixed; 
  background-position:center;
  background-size: 100%;
  background-size: cover;
  /*background: #A4A4A4;
  color: #A4A4A4;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.3;
  margin: 0 auto;
  max-width: 1000px;
  padding: 2em 2em em;                
}


span.crosshair {
    cursor: crosshair;
}

#menu{
	display:block;
}

.page{
	text-align:center;
  display:none;

}

.fondo{
    display:block;
    position: relative;
    max-width: 100%;
    height: auto;
    width: auto\9;
    z-index: auto;
}
/*Juego Normal*/
#background{
    position:absolute;
    z-index:absolute;
    left:50%;  
    top:0%;
    height:100%;
    width: auto;
    transform: translate(-50%, 0);
}
#bLeft{
    position:absolute;
    z-index:1; 
    left:50%;  
    top:82%;
    height:auto;
    width: 7%;
    transform: translate(-100%, 0);
}
#bRight{
    position:absolute;
    z-index:1; 
    left:50%;  
    top:82%;
    height:auto;
    width: 7%;
    transform: translate(0, 0);
}
#bBack{
    position:absolute;
    z-index:1;
    left: 50%;
    top:90%;
    height:10%;
    width: auto;
    transform: translate(-50%, 0);
}
#bFront{
  position:absolute;  
  z-index:1;
  left: 50%; 
  top:70%;
  height:10%;
  width: auto;
  transform: translate(-50%, 0);
}
/*Sala Bloqueada*/
#background2{
    position:absolute;
    z-index:absolute;
    left:50%;  
    top:0%;
    height:100%;
    width: auto;
    transform: translate(-50%, 0);
    
}
#fence{
    position:absolute;
    z-index:1;
    left:50%;  
    top:0%;
    height:100%;
    width: auto;
    transform: translate(-50%, 0);
}
#puzzle{
    position:absolute;
    z-index:2;
    left:50%;  
    top:50%;
    height:80%;
    width: auto;
    transform: translate(-50%, -50%);
}
#bA{
    position:absolute;
    z-index:3;

}
#bB{
    position:absolute;
    z-index:3;

}
#bC{
    position:absolute;
    z-index:3;


}
#bD{
    position:absolute;
    z-index:3;

}

/* BOTONES */
.botonJugar {

  background: transparent;
  border: none !important;
  background-image:url(assets/BotonJugar.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  background-position:center;
}

.botonJugar:hover {
  background-image:url(assets/BotonJugarHover.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px
  background-position:center;
}

.botonJugar:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonInstrucciones {
  background: transparent;
  border: none;
  background-image:url(assets/BotonInstrucciones.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  background-position:center;
}

.botonInstrucciones:hover {
  background-image:url(assets/BotonInstruccionesHover.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px
  background-position:center;
}

.botonInstrucciones:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonContactar {

  background: transparent;
  border: none ;
  background-image:url(assets/BotonContactar.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  background-position:center;
}

.botonContactar:hover {
  background-image:url(assets/BotonContactarHover.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  background-position:center;
}

.botonContactar:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonAtras {

  background: transparent;
  border: none;
  background-image:url(assets/BotonAtras.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  background-position:center;
}

.botonAtras:hover {
  background-image:url(assets/BotonAtrasHover.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px
  background-position:center;
}

.botonAtras:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.boton1 {

  background: transparent;
  border: none;
  background-image:url(assets/Boton1.png);
  background-repeat:no-repeat;
  height:300px;
  width:300px;
  background-position:center;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.boton1:hover {
  background-image:url(assets/Boton1Hover.png);
  background-repeat:no-repeat;
  height:300px;
  width:300px;
  background-position:center;
}

.boton1:active {
	position:relative;
	top:1px;
	font-size: 130%;

}
.boton2 {

  background: transparent;
  border: none;
  background-image:url(assets/Boton2.png);
  background-repeat:no-repeat;
  height:300px;
  width:300px;
  background-position:center;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.boton2:hover {
  background-image:url(assets/Boton2Hover.png);
  background-repeat:no-repeat;
  height:300px;
  width:300px;
  background-position:center;
}

.boton2:active {
	position:relative;
	top:1px;
	font-size: 130%;

}
